
<form action="/payment/results">

<div><label for="bob"> APR </label>

<input id="bob" type="text" placeholder="E.g. 5.42"
 name="apr"> </div>

 <div><label for="marley"> Number of years </label>

<input id="marley" type="text" placeholder="How many years to repay?"
 name="years"> </div>

  <div><label for="reggae"> Principal </label>

<input id="reggae" type="text" placeholder="How much principal?"
 name="principal"> </div>

<button> Calculate monthly payment </button>

</form>

<a href="https://www.wikipedia.org">Go to Wikipedia</a>
