
<form action="/random/results">

<div><label for="cow"> Minimum </label>

<input id="cow" type="text" placeholder="E.g. 1.5"
 name="minimum"> </div>

 <div><label for="penguin"> Maximum </label>

<input id="penguin" type="text" placeholder="E.g. 4.5"
 name="maximum"> </div>

<button> Pick random number </button>

</form>

<a href="https://www.wikipedia.org">Go to Wikipedia</a>
