<h1> Hello </h1>

<form action="/square_root/results">

<label for="catblack"> Enter a number </label>

<input id="catblack" type="text" placeholder="What number do you want to square root?"
 name="number">

<button> Calculate square root </button>

</form>

<a href="https://www.wikipedia.org">Go to Wikipedia</a>
